---
---

@charset "utf-8";

$theme-primary: #F05F40;
$theme-dark: #222;

$header-url-large: url("https://airartdrones.imgix.net/header.jpg");
$header-url-medium: url("https://airartdrones.imgix.net/header.jpg?w=1000");
$header-url-small: url("https://airartdrones.imgix.net/header.jpg?w=1000");
$header-url-mobile: url("https://airartdrones.imgix.net/header.jpg?w=500&h=600&fit=crop");

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;
