<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p class="text-faded">Arthur Eby has had many years of experience in video and film production, and knows how to get just the right shot you need for your purpose. We fly a two-man operation: one to fly the drone, and one to operate the camera on the drone. We can build a wide variety of drones, including 360 degree drones and other multi-purpose drones, and we fly anywhere in the world to help you achieve your goals! 
								</p>
            </div>
        </div>
    </div>
</section>
