<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get In Touch!</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <img class="pull-right" src={{ "/arthur.jpg" | imgix: w: 300, h: 300, fit: 'facearea', faceindex: 1, facepad: 2, corner_radius:5, mask:'corners' }} class="img-responsive" alt="">
            </div>
            <div class="col-lg-6">
              <p>Arthur Eby, founder of Air Art Drones, is a licensed drone pilot based in Salt Lake City with over 500 flight hours and a passion for drone cinematography. Arthur has a degree in chemistry from Westminster College and is co-creator of two hit YouTube chemistry series, as well as a tutor and teacher of many years. An avid beekeeper, Arthur manages over 50,000 bees in hives all over Salt Lake City and has been featured as an educator on the National Geographic children's program, Animal Jam. He is also a stage, film, and television actor, participating in everything from community theater to HBO series. A winner of Utah's Red Giant Film Festival for filmmaking, Arthur is an advocate for the Utah film industry and has collaborated on several independent and studio films both in front of and behind the camera.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <hr class="primary">
              <p>For more information, call or email and we will get back to you as quickly as possible!</p>
              </div>
        </div>

        <div class="row">
          <div class="col-xs-4 col-xs-offset-2 col-sm-3 col-sm-offset-0 col-md-2 col-md-offset-2 text-center">
              <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                  <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                  <p>@{{ site.twitter_username }}</p>
              </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-2 text-center">
              <a href="mailto:{{ site.email }}">
              <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                  <p>{{ site.email }}</p>
              </a>
          </div>
          <div class="col-xs-4 col-xs-offset-2 col-sm-3 col-sm-offset-0 col-md-2 text-center">
              <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank">
              <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                  <p>{{ site.facebook_username }}</p>
              </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-2 text-center">
              <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank">
              <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                  <p>@{{ site.instagram_username }}</p>
              </a>
          </div>
      </div> <!--end row-->
      <div id='logobottom' class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <img src="img/logo.png" class="img-responsive" alt="">
            </div>
      </div>
</section>
