<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">

            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/wedding.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            </div>
                            <div class="project-name">
                              <i class="fa fa-4x fa-slideshare wow bounceIn"></i>
                              <h3>Weddings & Events</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/house.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            </div>
                            <div class="project-name">
                              <i class="fa fa-4x fa-home wow bounceIn" data-wow-delay=".1s"></i>
                              <h3>Real Estate</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/film.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            </div>
                            <div class="project-name">
                              <i class="fa fa-4x fa-film wow bounceIn" data-wow-delay=".2s"></i>
                              <h3>Films & Television</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/geology.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            </div>
                            <div class="project-name">
                              <i class="fa fa-4x fa-leaf wow bounceIn"></i>
                              <h3>Geological & Environmental Exploration</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/sports.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            </div>
                            <div class="project-name">
                              <i class="fa fa-4x fa-binoculars wow bounceIn" data-wow-delay=".1s"></i>
                              <h3>Sports & Tourism</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/farm.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            </div>
                            <div class="project-name">
                              <i class="fa fa-4x fa-industry wow bounceIn" data-wow-delay=".2s"></i>
                              <h3>Construction & Agriculture Monitoring</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </div>
</section>
