<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-slideshare wow bounceIn text-primary"></i>
                    <h3>Weddings & Events</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-home wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Real Estate</h3>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-film wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Films & Television</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-leaf wow bounceIn text-primary"></i>
                    <h3>Geological & Environmental Exploration</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-binoculars wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Sports & Tourism</h3>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-industry wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Construction & Agriculture Monitoring</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
            <hr class="primary">

						<p>Air Art Drones offers full service videography. From raw drone footage to post-production editing, Air Art uses advanced techniques in videography to make a video you will love.</p>

					</div>
        </div>
    </div>
</section>
