<section id="videos">
    <div class="container">
        <div class="row no-gutter">
          <div class="col-lg-8 col-lg-offset-2">
            <div class='vid-container'>
              <iframe src="https://www.youtube.com/embed/u6gwBNtkYUo?rel=0&amp;showinfo=0" class="video" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>

          <div class="col-lg-8 col-lg-offset-2 text-center">
            <hr class="light">
          </div>

          <div class="col-lg-8 col-lg-offset-2">
            <div class='vid-container'>
              <iframe src="https://www.youtube.com/embed/u6gwBNtkYUo?rel=0&amp;showinfo=0" class="video" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>

        </div>
    </div>
</section>
